{{> head }}
{{> navbar}}

<div class="row">
    <div class="col-8">
        <h1>Imagen</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam nisi illum tempore tempora ea iure eaque, porro ipsa cumque nulla.
        </p>
    </div>
    <div class="col-4">
        <img src="assets/img/imagen.jpeg" class="img-thumbnail" alt="">
    </div>
</div>

{{> footer}}